@font-face {
    font-family: 'Monument Extended';
    src: url('~@/assets/fonts/MonumentExtended-Regular.otf');
}

@font-face {
    font-family: 'Space Mono';
    src: url('~@/assets/fonts/SpaceMono-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Space Mono';
    src: url('~@/assets/fonts/SpaceMono-Bold.ttf');
    font-weight: 700;
}
